<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="employee">
            <h2><span jhiTranslate="blogApp.employee.detail.title">Employee</span> {{employee.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="blogApp.employee.employeeId">Employee Id</span></dt>
                <dd>
                    <span>{{employee.employeeId}}</span>
                </dd>
                <dt><span jhiTranslate="blogApp.employee.firstname">Firstname</span></dt>
                <dd>
                    <span>{{employee.firstname}}</span>
                </dd>
                <dt><span jhiTranslate="blogApp.employee.title">Title</span></dt>
                <dd>
                    <span>{{employee.title}}</span>
                </dd>
                <dt><span jhiTranslate="blogApp.employee.age">Age</span></dt>
                <dd>
                    <span>{{employee.age}}</span>
                </dd>
                <dt><span jhiTranslate="blogApp.employee.gender">Gender</span></dt>
                <dd>
                    <span>{{employee.gender}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/employee', employee.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
